In [1]:
import mysql.connector

In [14]:
db=mysql.connector.connect(host="localhost",user="root",password="@Amanaman321",database="pro")

In [15]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000025191AEC190>

In [16]:
cursorobj=db.cursor()  # create cursor object

In [16]:
#cursorobj.execute("create database pro")  # perform operation

In [25]:
cursorobj.execute("create table students4(id int,name varchar(20))")

In [33]:
# cursorobj.execute("insert into students4 values (1,'Rahul')")
# cursorobj.execute("insert into students4 values (2,'Aman')")
# cursorobj.execute("insert into students4 values (3,'Harry')")
# db.commit()

In [34]:
cursorobj.execute("select * from students4")  # retrive data ( data will show in jupyter notebook)
data=cursorobj.fetchall()

In [35]:
for r in data:  # data will display here whatever data inserting into sql table
    print(r)

(1, 'Rahul')
(1, 'Rahul')
(1, 'Rahul')
(1, 'Rahul')
(2, 'Aman')
(3, 'Harry')

In [ ]:
db.close() # close the connection